.faq-menu {
    margin-bottom: 22px;
}
.faq-feedback-link {
    padding: 0 10px 30px;
    .button {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}
.faq {
    padding: 8px 0 3px;
    max-width: 850px;
    .global-title {
        text-align: left;
        margin-bottom: 50px;
        & h1 {
            font-weight: 900;
        }
    }
}
.faq-category {
    margin-bottom: 50px;
}
.faq-category-title {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    color: $b;
    margin-bottom: 30px;
}
.faq-item {
    padding: 25px 0;
    border-top: 1px solid #E1E1E1;
    &:last-child {
        border-bottom: 1px solid #E1E1E1;
    }
    &.open {
        margin-bottom: 0;
        .faq-item-text {
            display: block;
        }
        .faq-item-caption {
            &:before {
                transform: translate(0, -50%) rotate(180deg);
            }
        }
    }
}
.faq-item-caption {
    display: block;
    font-size: 15px;
    line-height: 1.4667;
    font-weight: 500;
    color: $b;
    padding: 11px 60px 10px 0;
    position: relative;

    & span {
        display: inline-block;
        max-width: 570px;
    }

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 40px;
        height: 40px;
        background: $s url('../upload/new-faq/icon-arrow.svg') center / 10px 6px no-repeat;
        transition: transform $d $f;
        will-change: transform;
        border-radius: 50%;
        transform: translate(0, -50%) rotate(0);
    }
    &:hover {
        color: $p;
    }
}
.faq-item-text {
    display: none;
    max-width: 630px;
    padding: 8px 0px;
    font-size: 13px;
    line-height: 1.54;
    color: $b;
    p {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
.faq-feedback {
    padding: 64px 0 74px;
    .global-title {
        text-align: center;
        margin-bottom: 25px;
        & h2 {
            font-weight: 900;
        }
    }
}
.faq-feedback-block {
    position: relative;
    max-width: 815px;
    width: 100%;
    padding: 80px 0 70px 0;
    margin: 0 auto;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        background: $w url("../upload/new-faq/icon-feed-form.svg") no-repeat center / 40px 40px;
    }

    p {
        text-align: center;
        font-size: 13px;
        line-height: 1.54;
        color: $b;
        margin-bottom: 20px;
        a {
            color: $b;
            font-weight: 500;
            &:hover {
                color: $p;
            }
        }
    }
}

.faq-feedback-block-wrapper {
    max-width: 445px;
    margin: 0 auto;
}

.faq-feedback-form {
    padding-top: 12px;
    .input-wrapper {
        margin-bottom: 20px;
        & > label {
            padding: 1px 0 8px;
        }
    }
}
textarea.faq-feedback-question {
    height: 110px;
}
.faq-feedback-button {
    padding: 24px 0 20px;
    .button {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}
.faq-feedback-agree {
    font-size: 11px;
    line-height: 1.55;
    a {
        font-weight: 500;
    }
    & .checkbox label {
        padding: 2px 0 3px 28px;
    }
}

.faq-warning {
    position: relative;
    margin-bottom: 65px;
    padding: 50px;
    background: #F4F5F6;
    border-radius: 5px;
    text-align: center;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
        border-radius: 50%;
        background: url("../upload/new-faq/icon-warning.svg") no-repeat center / 22px 19px, #fff;
    }
}

.faq-warning-text {
    & p {
        color: $b;
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        & a {
            font-weight: 500;
        }
    }
}