/* home */
.promotions {
    margin-bottom: 53px;
}
.promotion {
    margin-bottom: 15px;
}
.promotion-link {
    display: flex;
    align-items: flex-end;
    background: $s;
    &:hover {
        .promotion-img {
            img {
                transform: scale(1.1);
            }
        }
    }
}
.promotion-img {
    flex: 0 0 50%;
    max-width: 50%;
    overflow: hidden;
    img {
        width: 100%;
        transition: transform $d*2 $f;
    }
}
.promotion-caption {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px 30px 29px;
}
.promotion-date {
    display: block;
    font-size: 11px;
    line-height: 1.37;
    color: $text;
    margin-bottom: 12px;
}
.promotion-title {
    display: block;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: $b;
    letter-spacing: -0.1px;
}
.promotions-show {
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
    a {
        display: inline-block;
        vertical-align: top;
        padding: 10px 30px;
        color: $b;
        &:hover {
            color: $text;
        }
    }
}
.services {
    text-align: center;
    margin-bottom: 56px;
}
.services-item {
    padding: 0 10px 30px;
}
.services-item-img {
    display: flex;
    align-items: center;
    min-height: 75px;
    margin-bottom: 21px;
    img {
        margin: 0 auto;
    }
}
.services-item-title {
    font-size: 20px;
    line-height: 1.3;
    color: $b;
    margin-bottom: 8px;
}
.services-item-info {}
.home-comments {
    background: $s;
    margin-bottom: 93px;
    padding: 63px 0 71px;
    .global-tab {
      margin-bottom: 0;
    }
}

.home-comment {
  padding: 4px 0 30px;
}

.home-comments-all {
  padding-top: 20px;
  text-align: center;
}

/*wejet changes*/

.main-title {
  font-weight: 900;
}

.youtube-title {
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    margin-left: 20px;
    margin-right: 30px;
  }

  .button {
    background-color: rgba(245, 245, 245, 1) !important;
    box-shadow: none;
  }
}

.slider-js-reviews {
  margin-bottom: 20px;

  .slick-prev,
  .slick-next {
    width: 50px;
    height: 50px;
    top: -50px;
    border-radius: 50%;
    margin-top: -10px;
    border: 1px solid #e1e1e1;
    background: none;

    &:after {
      width: 12px;
      height: 20px;
      margin-left: -6px;
      margin-top: -10px;
    }
  }

  .slick-dots {
    bottom: -10px;
  }

  .home-comment {
    padding-top: 15px;
    padding-right: 40px;

    .comment-date {
      color: #686868;
    }

    .comment-person {
      color: #393939;
    }

    p {
      font-size: 13px;
      line-height: 20px;
      color: #393939;
    }
  }
}

.home-comments-all {
  padding-top: 30px;
}

.slider-js-youtube {
  margin-top: 55px;

  .slick-prev,
  .slick-next {
    width: 50px;
    height: 50px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.15);

    &:after {
      width: 20px;
      height: 20px;
      margin-left: -10px;
      margin-top: -10px;
      //background: transparent url("../upload/next.svg") 50% 50% no-repeat;
      //background-size: 20px 14px;
    }
  }

  .slick-prev {
    left: -17px;
  }

  .slick-next {
    right: -17px;
  }

  .slide-js {
    .tv-item {
      margin: 0 10px;

      .tv-item-link {
        .tv-item-content {
          align-items: center;
          width: 80%;
        }
      }
    }
  }
}

.tv {
  margin-bottom: 130px;
}