.new-product-gallery-small {
    position: relative;
    margin-top: 15px;
    
    &-slider {
        & .swiper-slide {
            width: 123px;
            box-sizing: border-box;
            & img {
                border: 2px solid transparent;
                box-sizing: border-box;
            }
            &.swiper-slide-thumb-active {
                & img {
                    border-color: #A1A1A1;
                }
            }   
        } 
    }

    & .swiper-button-prev {
        left: 0;
        &::before {
            content: "";
            position: absolute;
            top: -18px;
            bottom: -18px;
            width: 123px;
            right: auto;
            left: -22px;
            background-image: -webkit-gradient(linear, right top, left top, color-stop(14%, rgba(255, 255, 255, 0)), color-stop(57%, #ffffff), color-stop(57%, #ffffff));
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 14%, #ffffff 57%, #ffffff 57%);
        }
        &::after {
            box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
            border-radius: 50%;
        }
        &.swiper-button-disabled {
            display: none;
        }
    }

    & .swiper-button-next {
        right: 0;
        &::before {
            content: "";
            position: absolute;
            top: -18px;
            bottom: -18px;
            right: -22px;
            width: 123px;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 14%, #ffffff 57%, #ffffff 57%);
        }
        &::after {
            box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
            border-radius: 50%;
        }
        &.swiper-button-disabled {
            display: none;
        }
    }
    
}

@media (max-width: 1325px) {
    .new-product-gallery-small {
        & .swiper-button-next {
            right: 0;
            &::before {
                right: -10px;
            }
        }
    }
}